body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  position: relative;

}

h1 {
  font-size: 2.5rem;
  color: #4a4a4a;
  margin-bottom: 20px;
  text-align: center;
}

input {
  display: block;
  width: 60rem;
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #00aaff;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 55rem;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-left: 5px solid #00aaff;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

li span {
  display: block;
  font-size: 1.1rem;
}

p {
  font-size: 1.2rem;
  text-align: center;
  color: #777;
}

button {
  background-color: #00aaff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #007bbd;
}

.loading {
  font-size: 1.5rem;
  text-align: center;
  color: #00aaff;
}
